@model Mvc5.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


@using (Html.BeginForm("Verify", "User", FormMethod.Post))
{
    <div id="loginForm"></div>

    <button type="submit">Login</button>
}
@Html.ValidationSummary(true, "", new { @class = "text-danger"})
<div>
    @Html.ActionLink("Click here to signup", "Create")
</div>

<script>
    $(function () {
        $("#loginForm").dxForm({
            formData: @Html.Raw(Json.Encode(Model)),
            items: [
                {
                    dataField: "UserName",
                    editorType: "dxTextBox",
                    editorOptions: {
                        placeholder: "Enter your username"
                    },
                    label: {
                        text: "Username"
                    }
                },
                {
                    dataField: "Password",
                    editorType: "dxTextBox",
                    editorOptions: {
                        mode: "password",
                        placeholder: "Enter your password"
                    },
                    label: {
                        text: "Password"
                    }
                }
            ],
            colCount: 2  // Arrange the form items in two columns
        });
    });
</script>
